body{
    margin-top: 12px;
    background-color: bisque;
}

.from{
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}


.h1{
    text-align: center;
}

.btn{
    width: 100%;
}

#sign{
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.or{
    margin-top: 12px;
    margin-right: 50px;
}

a {
    text-decoration: none;
}