* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    position: relative;
}

#head {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}

#head button {
    background-color: #4094f7;
    color: #ffffff;
    border: 0px solid;
    padding: 10px 20px;
    border-radius: 7px;
}

#duoiHead {
    display: flex;
    justify-content: right;
    gap: 20px;
    padding: 0px 20px;
}

#duoiHead select {
    padding: 10px 10px;
    border-radius: 7px;

}

#timKiem {
    display: flex;
    position: relative;
}

#timKiem input {
    padding: 10px 20px;
    padding-right: 50px;
    border-radius: 7px;
    border: 1px solid;
}

#timKiem i {
    position: absolute;
    top: 17px;
    right: 8px;
}

#bang {
    padding: 10px 20px;
}

#tieuDe th {
    background-color: #9d9e9f;
}

#hoatDong {
    background-color: #ecfdf3;
    color: #12b76a;
    border-radius: 10px;
    width: 36%;
}

#khongHoatDong {
    background-color: #fef2f2;
    color: #b91d1d;
    border-radius: 10px;
    width: 143px;
}

#chucNang {
    display: flex;
    gap: 20px;
    margin-left: 20px;
}

#thungRac {
    color: #ff0b0b;
}

#but {
    color: #ffb52b;
}

#themDM2 {
    border-radius: 9px;
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 300px;
    top: 172px;
    background-color: rgb(208, 206, 203);
    display: none;
}

#themDM3 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 10px;
}

#thoat {
    font-size: 30px;
}

#dien input {
    width: 792px;
    padding: 15px 0px;
    border-radius: 9px;
}
#dien1{
    color: #ff0b0b;
    display: none;
}
#dien2{
    color: red;
    display: none;
}
#dien3{
    padding-bottom: 20px;
}
#trangThai2 {
    display: flex;
    flex-direction: column;
}

#trangThai2 p {
    margin-bottom: 0px;
}

#dangKi {
    padding: 20px 0;
    display: flex;
    justify-content: right;
    gap: 10px;
}
#huy{
    padding: 10px 20px;
    border-radius: 7px;
    border: 0px solid;
}
#them{
    padding: 10px 20px;
    border-radius: 7px;
    border: 0px solid;
    background-color: #007aff;
    color: white;
}