#container{
    background-color: white;
    height: 200px;
    width: 500px;
    padding-left: 40px;
    padding: 40px 20px;
    position: relative;
}
#cuaso{
    top: -54px;
    position: relative;
    background-color: aqua;
    padding: 40px 20px;
    display: none;
}
#cuaso i{
    position: absolute;
    top: 9px;
    right: 9px;
}

