#container{
    display: flex;
}
input{
    position: relative;
    width: 300px;
    padding: 10px 10px;
    border-radius: 10px;
}
i {
    position: absolute;
    top: 18px;
    left: 310px;
}
input::-ms-reveal {
    display: none;
}