* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .img {
    width: 250px;
    height: 250px;
    background-color: pink;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.431);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  img {
    height: 80%;
  }